.nextflow.*
.nextflow/*
results/flash2/*
results/index/*
results/mapping/*
python_analysis/*
genome_reference/newref/*
archive/*
work/*
images/*
genome_reference/newref/slurm*
genome_reference/newref/*.fasta