// from the project in the nextflow course

// docker.enabled = true
// docker.runOptions = '-u \$(id -u):\$(id -g)'
// docker.enabled = true
apptainer.enabled = true
apptainer.autoMounts = true
apptainer.cacheDir = "${System.getenv('VSC_SCRATCH')}/.apptainer_cache"

//requirements: one custom profile
// (e.g. HPC)