
apptainer.enabled = true
apptainer.autoMounts = true
apptainer.cacheDir = "${System.getenv('VSC_SCRATCH')}/.apptainer_cache"

// nextflow.config
params {
    samples_path = "/data/gent/courses/2025/vibrepdata_EXT003/shared/testdata_lotte_and_matilde"
    // images_path = "${System.getenv('VSC_SCRATCH')}/images"
    ref_path     = "${launchDir}/genome_reference"
    outdir       = "${launchDir}/results"
}

// requirements: at least one custom profile

profiles {
    local {
        process.executor = 'local'
        
        singularity {
            enabled    = true
            autoMounts = true
        }
    }

    hpc {
        process.executor = 'slurm'
        
        process {
            cpus   = 4
            memory = 8.GB
            time   = 1.h
        }

        singularity {
            enabled    = true
            autoMounts = true
        }
    }
}
// define env variables
process {
    executor = 'local'
}

env {
    APPTAINER_TMPDIR  = "${System.getenv('VSC_SCRATCH')}/.apptainer_tmp"
    APPTAINER_CACHEDIR = "${System.getenv('VSC_SCRATCH')}/.apptainer_cache"
}

// env {
//     NXF_APPTAINER_TMPDIR  = "${'VSC_SCRATCH'}/.apptainer_tmp"
//     NXF_APPTAINER_CACHEDIR = "${'VSC_SCRATCH'}/.apptainer_cache"
// }