
apptainer.enabled = true
apptainer.autoMounts = true
apptainer.cacheDir = "${System.getenv('VSC_SCRATCH')}/.apptainer_cache"

//requirements: one custom profile
// (e.g. HPC)

// params.samples_path = "/data/gent/courses/2025/vibrepdata_EXT003/shared/testdata_lotte_and_matilde"
// params.images_path  = "/data/gent/courses/2025/vibrepdata_EXT003/shared/images_lotte_and_matilde"
// params.ref_path     = "${launchDir}/genome_reference"
// params.outdir       = "${launchDir}/results"

// define env variables
process {
    executor = 'local'
}

// env {
//     APPTAINER_TMPDIR  = "${System.getenv('VSC_SCRATCH')}/.apptainer_tmp"
//     APPTAINER_CACHEDIR = "${System.getenv('VSC_SCRATCH')}/.apptainer_cache"
// }